*.class
*.log

# sbt specific
.project
.settings
.cache
.classpath
.history/
.lib/
logs/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
